


.persistant-content{
  width: 25vw
}
.search {
  width: 70%;
}
.search .ng-fa-icon{
  padding-right: 5px;
  color: rgb(143, 136, 127);
}
.search input{
  border-color: rgb(143, 136, 127);
  border-radius: 5px;
  padding: 7px;
  padding-right: 35%;
}


.date {
  width: 16px;
  white-space:nowrap;
  color: hsl(211deg 14% 55%);
}

.books-header{
  color: hsl(211deg 14% 55%);
  padding-top: 25px;
  display: flex;
  justify-content:space-between;
}

.books img{
  width: 150px;
  height: 150px;
}

.myBooks {
  top: 5px;
  padding-left: 9vw;
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(150px,1fr));
  justify-content:space-around;
}
.myBooks .books {
  padding-left: 5px;
  padding-top: 6vh;
  margin-left: -8vw;
}






.center-content{
padding-top: 20px;
display: grid;
 grid-template-columns: repeat(auto-fill,minmax(20vw,1fr));

}
.center-content h3{
  text-align: center;
}
.center-content div{

  background-color: hsl(0deg 34% 94%);
  border-radius: 10%;
  width: 20vw;
}
.center-content div .author{
  display: flex;
  flex-direction: row  ;
  justify-content: space-between;
}
.authors .author img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  vertical-align:middle;
}
.author .icon{
padding-left: 10%;
padding-top: 10%;
color: hsl(261deg 100% 79%);
}
.author .author-name {
  padding-top: 10%;
}

.reading .books-progress img{
  width: 50px;
  height: 70px;
  border-radius: 5%;
  vertical-align:middle;
}
.books-progress .dash-container{
 width: 50px;
}
.books-progress{
  position: relative;
  display: flex;
  justify-items: end;

  max-width: 350px;
}
.books-progress .book-info{
 justify-self: left;

}
.mat-books-progress-bar {
  display: block;
  height: 4px;
  overflow: hidden;
  position: relative;
  transition: opacity 250ms linear;
  width: 75%;
  background-color: hsl(261deg 100% 79%);
}

.reading-info{
  position: relative;
  margin-top: 25vh;
  border-radius: 10px;
}
.reading-info .dash-container{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: repeat(auto-fill,minmax(150px,1fr));
  justify-content: space-between;
}
.reading-info .dash-container .ng-fa-icon{
 color: hsl(261deg 100% 79%);
 padding-top: 1.6vw;
 padding-right:5px ;
}
.reading-info .dash-container div{
  background-color: aliceblue;
  height: 7vh;
}
.reading-info .dash-container div:not(:last-child){
 margin-right: 5px;
}

.reading-info .dash-container div .dash-container div .number{
  padding: 0;
  margin: 0;

}
.reading-info .dash-container div .dash-container div .type
{
  padding: 0;
  margin: 0;
  color: hsl(211deg 14% 55%);
}

.reading-info .dash-container div .dash-container{
  text-align: center;
 display: flex;

}
@media (min-width : 480px) {


    .reading-info .dash-container div{
    margin-bottom: 20px;
    padding-bottom: 20px;
    }
}
