   <div class="header">
    <div class="search">
     <fa-icon [icon]="search"></fa-icon>
     <input type="text" placeholder="Search ...">
     <span class="date">{{date |date:"short"}}</span>
    </div>

  </div>
  <div class="books-header">
    <h2>My Books</h2>
    <div class="more">More <fa-icon [icon]="arrow"></fa-icon></div>
  </div>
  <div class="myBooks">

    <div class="books">
      <img src="../../assets/imgs/placeholder.png" alt="">
    </div>
    <div class="books">
      <img src="../../assets/imgs/placeholder.png" alt="">
    </div>
    <div class="books">
      <img src="../../assets/imgs/placeholder.png" alt="">
    </div>
  </div>

  <div class="center-content">
    <div class="authors">
      <h3>Popular Author</h3>


      <div class="author" *ngFor="let author of authors">


          <div>
            <img src="{{author.pictureUrl==null?'../../assets/imgs/placeholder.png':url+author.pictureUrl}} " alt="">
          </div>
          <div class="author-name">
            {{author.userName}}
          </div>
          <div class="icon">
            <fa-icon [icon]="reader"></fa-icon>
          </div>

      </div>
      <div class="more">More</div>
    </div>
    <div class="reading">
       <h3>Keep Reading</h3>

       <div class="books-progress">
        <div class="dash-container">
          <img src="../../assets/imgs/placeholder.png" alt="">
        </div>
        <div class="book-info">
          <p>Book</p>
          <p>AuthorName</p>
          <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
        </div>

       </div>
       <div class="more">More</div>
    </div>
  </div>

 <div class="reading-info">
  <div class="dash-container">

    <div class="read-books">
      <div class="dash-container">
        <fa-icon [icon]="deadBook"></fa-icon>
        <div>
          <p class="number">15</p>
          <p class="type">ReadBooks</p>
        </div>
      </div>
    </div>
    <div class="read-authors">
      <div class="dash-container">
        <fa-icon [icon]="author"></fa-icon>
        <div>

          <p class="number">21</p>
          <p class="type">ReadAuthors</p>
        </div>
      </div>
    </div>
    <div class="currently-reading">
<div class="dash-container">

  <fa-icon [icon]="progress"></fa-icon>
  <div>

    <p class="number">20</p>
    <p class="type">CurrentlyReading</p>
  </div>
</div>
  </div>
  <div class="read-pages">
    <div class="dash-container">

      <fa-icon [icon]="page"></fa-icon>
      <div>

        <p class="number">5</p>
        <p class="type">ReadPages</p>
      </div>
    </div>
  </div>
</div>
 </div>


