<!--Nav-->
<div class="langing-container">
  <div class="nav-bar">
    <div class="links">
      <div class="web-brand">ReadingHub</div>
     <ul>
      <li><a  [routerLink]="'Dashboard'">Explore</a></li>
      <li><a href="#">Blog</a></li>
      <li><a href="#">AboutUs</a></li>
     </ul>
    </div>
    <div class="action">
     <div class="expander">
      <span></span>
      <span></span>
      <span></span>
     </div>
     <div class="user-ops">
      <ul>
        <li data-bs-toggle="modal" data-bs-target="#exampleModal" ><a routerLink="login">Login</a></li>
        <li><a href="#">Create</a></li>
      </ul>
     </div>
    </div>
  </div>

</div>
<!--End Nav Section-->
<!--cover-->
<div class="holder">
<router-outlet></router-outlet>

</div>






<!-- Button trigger modal -->
<!-- Button trigger modal -->
