
<h2>Profile</h2>
<img src="{{url+profileInfo.pictureUrl==null?'../../assets/imgs/placeholder.png':url+profileInfo.pictureUrl}}" alt="">
{{profileInfo.userName}}
<div class="splitter"></div>

<div class="container">
  <div class="wrapper">

 <ng-container *ngTemplateOutlet="postTemplate">

 </ng-container>

  </div>

</div>

<ng-template #postTemplate>
  <section class="post">
    <header>Post</header>

    <form [formGroup]="post" (ngSubmit)="submit()">
      <div class="content">
        <div>
          <img src="{{url+profileInfo.pictureUrl==null?'../../assets/imgs/placeholder.png':url+profileInfo.pictureUrl}}" alt="picture">
          {{profileInfo.userName}}
        </div>

      </div>
      <textarea formControlName="postContent" placeholder="What's on your mind, {{profileInfo.userName}}?" spellcheck="false" required maxlength="250"></textarea>
      <span class="count">
        {{calculateRemaning()}}
      </span>
      <div class="options">
        <ul class="list" >
          <li *ngFor="let emoji of emojiList"><span (click)="addEmoji(emoji)">{{emoji}}</span></li>
        </ul>
      </div>
      <button>Post</button>
    </form>
  </section>
</ng-template>


<ng-template #EditPost>
  <section class="post">
    <header>Post</header>

    <form [formGroup]="editPost" (ngSubmit)="onEdit()">
      <div class="content">
        <div>
          <img src="{{url+profileInfo.pictureUrl==null?'../../assets/imgs/placeholder.png':url+profileInfo.pictureUrl}}" alt="picture">
          {{profileInfo.userName}}
        </div>

      </div>
      <textarea formControlName="postContent" placeholder="What's on your mind, CodeWithNepal?" spellcheck="false" required maxlength="250"></textarea>
      <span class="count">
        {{calculateRemaningEdit()}}
      </span>
      <div class="options">
        <ul class="list" >
          <li *ngFor="let emoji of emojiList"><span (click)="addEmojiEdit(emoji)">{{emoji}}</span></li>
        </ul>
      </div>
      <button>Post</button>
    </form>
  </section>
</ng-template>


<mat-card class="example-card" *ngFor="let post of posts;let i=index">

  <img src="{{url+profileInfo.pictureUrl==null?'../../assets/imgs/placeholder.png':url+profileInfo.pictureUrl}}" alt="">
  <mat-card-title>
    {{profileInfo.userName}}
    <div class="details">
      <ul>
       <li (click)="edit(i);pop=true">Edit</li>
       <li (click)="delete(i)">Delete</li>
      </ul>
    </div>
  </mat-card-title>

  <mat-card-content>
   {{post.postContent}}
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>

<div class="popup"  *ngIf="pop" @popupParent>
  <div class="exit-icon">
    <fa-icon [icon]="exit" (click)="pop=false"></fa-icon>
  </div>
  <ng-container *ngTemplateOutlet="EditPost">

  </ng-container>
  </div>

<script>
  const container = document.querySelector(".container"),
  privacy = container.querySelector(".post .privacy"),
  arrowBack = container.querySelector(".audience .arrow-back");


  privacy.addEventListener("click", () => {
    container.classList.add("active");
  });


  arrowBack.addEventListener("click", () => {
    container.classList.remove("active");
  });
</script>
