
<div class="text-center">

  <main class="form-signin w-100 m-auto">
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <img class="mb-4" src="../../assets/imgs/key.png" alt="" width="72" height="57">
      <h1 class="h3 mb-3 fw-normal">Please sign in</h1>


     <!-- <div *ngIf="loginForm.controls['Email'].pending">

       <ng-container *ngTemplateOutlet="spinner">
        </ng-container>
      </div>
      <div *ngIf="loginForm.controls['Email'].hasError('emailExists')" class="alert alert-danger">
        Email  already Exists
        </div>
-->
<div class="alert alert-danger" *ngIf="loginForm.controls['Password'].touched&&!loginForm.controls['Password'].dirty&&loginForm.controls['Password'].errors!['required']">
  *Password is required
 </div>
 <div class="alert alert-danger" style="line-height: 1.5;" *ngIf="checkPassword()">
   *Password is required
   <br>
   *Password Must be at least 8 charachter with special charachter and number and char
 </div>
      <div class="alert alert-danger" *ngIf="loginForm.controls['Email'].touched&&!loginForm.controls['Email'].dirty&&loginForm.controls['Email'].errors!['required']">
        *Email is required
       </div>
      <div class="alert alert-danger" *ngIf="checkEmail()">
        *Invalid Email
       </div>
      <div class="form-floating">
        <input type="email" required formControlName="Email"  class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
      </div>

      <div class="form-floating">
        <input required formControlName="Password" type="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
      </div>

      <div class="checkbox mb-3">
        <label>
      <input type="checkbox" value="remember-me"> Remember me
    </label>
  </div>
  <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
  <p class="mt-5 mb-3 text-muted">Mohamed Abotir &copy; 2022</p>
</form>
</main>
</div>

