<div class="cover">
  <div class="cover-head">
    Welcome Readers

    <p>The Best Hub For Reading</p>
  </div>
 </div>
 <!--End Cover-->
 <!--Features Section-->
<div class="features">
  <div class="section-header">what We Provide</div>
  <div class="splitter"></div>
  <div class="langing-container">
    <div class="feature">
      <fa-icon [icon]="doller"></fa-icon>
    <h3>Free To Use</h3>
    <p>It is always Free To Use</p>
  </div>
  <div class="feature">
    <fa-icon [icon]="share"></fa-icon>
    <h3>Sherable Content</h3>
    <p>Can Share Posts and openion</p>
  </div>
  <div class="feature">
    <fa-icon [icon]="home"></fa-icon>
    <h3>Reading Progress </h3>
    <p>Track Your Reading Progress</p>
  </div>
  <div class="feature">
    <fa-icon [icon]="podcast"></fa-icon>
    <h3>Publisher Podcast</h3>
    <p>Listen to Publishers Podcats</p>
  </div>
  <div class="feature">
    <fa-icon [icon]="bookMark"></fa-icon>
    <h3>Save Important Items</h3>
    <p>You can Save Notes about books</p>
  </div>
  <div class="feature">
    <fa-icon [icon]="book"></fa-icon>
    <h3>Pay per use</h3>
    <p>Pay only what you read</p>
  </div>
</div>

</div>
<!--End Section Section-->
<!--Book Section-->
<div class="books">
  <div class="section-header">Our Special Books</div>
  <div class="splitter"></div>
  <div class="langing-container">
    <div class="book">
      <img src="../../assets/imgs/placeholder.png" alt="">
      <h3>BookName</h3>
    </div>
    <div class="book">
      <img src="../../assets/imgs/placeholder.png" alt="">
      <h3>BookName</h3>
    </div>
    <div class="book">
      <img src="../../assets/imgs/placeholder.png" alt="">
      <h3>BookName</h3>
    </div>

  </div>
</div>



<div class="copyright">
  <h4>All Copy Right &copy; Mohamed Abdalsalam</h4>
</div>
