.cover{
  background-image: url(../../assets/imgs/library.jpg);
  background-size: cover;
  height: calc(100vh - 80px);
  color: var(--main-color);
}

.cover .cover-head{
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50% ,-50%);
    color: rgb(200, 233, 233);
    max-width: 380px;
    width: 100%;

    font-weight: bold;

}
.cover .cover-head p{
  line-height: 1.9;
  font-weight: normal;
}


.features{
  background-color: #F5EDDC;
}
.features .langing-container{
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #F5EDDC;
  display: grid;
   grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
   grid-gap: 20;
   padding-left: 64px;
   padding-right: 35px;

}

.features .langing-container .feature {
  padding: 20px;
 text-align: center;
}

.features .langing-container .feature h3{
  min-width: 388px;
  width: 100%;
  font-weight: bold;
}

.features .langing-container .feature p{
  line-height: 1.8;
  font-weight: 300;
}
.ng-fa-icon {
  color: #b3407a;
  left: 5%;
  position: relative;
}
.section-header{
  text-align: center;
  color: #404548;
}
.splitter{
  border-bottom: 1px black solid;
  margin-top: 10px;
  width: 252px;
  margin-top: 4px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}
.books{
  background-color: #CFD2CF;
  right: 0;

}
.books .langing-container{
  background-color: #CFD2CF;
   display: grid;
   grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
   padding-left: 190px;
   padding-right: 35px;


  }

  .books .langing-container .book h3{
    font-weight: 500;
  }
  .copyright{
    background-color: #4e4949cf;
    text-align: center;
  }
