*{
  font-family: 'Noto Sans', sans-serif;

}
h3{
  font-size: larger;

}
.bar
,.content
,.persistent-content{
  padding-top: 5px;
  height: calc(100vh - 5px);
}
.dash-container {
   display: flex;
   grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
  justify-self: left;

}

.bar {
  font-size:medium;
    display: flex;
    flex-direction: column;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 110px;
    background: hsl(261deg 100% 79%);
    position: fixed;
    left: 0;
    padding-left: 20px;
    width: 120px;
    border-bottom-right-radius: 5px solid;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    background: #0d6efd;
}
.bar .brand{
  font-size: large;
  color: #ffff;
  left: 0;

}
.bar .content{
  color: aliceblue;

}
.bar .content div{
  padding-top: 50px;
}

.logout {
  position: absolute;
  bottom: 0;
  right: 30%;
  color: #ffff;
}

.active-link{
  background-color: aliceblue;
  color: #5a34a3;
}


.source-content {
  width: calc(100vw - 120px - 25vw);
  padding-left: 15vw;
    padding-right: 8vw;
    background-color: #dddddd;
}


.persistant-content{
  width: 30vw
}
.search {
  width: 70%;
}
.search .ng-fa-icon{
  padding-right: 5px;
  color: rgb(143, 136, 127);
}
.search input{
  border-color: rgb(143, 136, 127);
  border-radius: 5px;
  padding: 7px;
  padding-right: 35%;
}


.date {
  width: 16px;
  white-space:nowrap;
  color: hsl(211deg 14% 55%);
}

.books-header{
  color: hsl(211deg 14% 55%);
  padding-top: 25px;
  display: flex;
  justify-content:space-between;
}

.books img{
  width: 150px;
  height: 150px;
}

.myBooks {
  top: 5px;
  padding-left: 9vw;
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(150px,1fr));
  justify-content:space-around;
}
.myBooks .books {
  padding-left: 5px;
  padding-top: 6vh;
  margin-left: -8vw;
}






.center-content{
padding-top: 20px;
display: grid;
 grid-template-columns: repeat(auto-fill,minmax(20vw,1fr));

}
.center-content h3{
  text-align: center;
}
.center-content div{

  background-color: hsl(0deg 34% 94%);
  border-radius: 10%;
  width: 20vw;
}
.center-content div .author{
  display: flex;
  flex-direction: row  ;
  justify-content: space-between;
}
.authors .author img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  vertical-align:middle;
}
.author .icon{
padding-left: 10%;
padding-top: 10%;
color: hsl(261deg 100% 79%);
}
.author .author-name {
  padding-top: 10%;
}

.reading .books-progress img{
  width: 50px;
  height: 70px;
  border-radius: 5%;
  vertical-align:middle;
}
.books-progress .dash-container{
 width: 50px;
}
.books-progress{
  position: relative;
  display: flex;
  justify-items: end;

  max-width: 350px;
}
.books-progress .book-info{
 justify-self: left;

}
.mat-books-progress-bar {
  display: block;
  height: 4px;
  overflow: hidden;
  position: relative;
  transition: opacity 250ms linear;
  width: 75%;
  background-color: hsl(261deg 100% 79%);
}

.reading-info{
  position: relative;
  margin-top: 25vh;
  border-radius: 10px;
}
.reading-info .dash-container{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: repeat(auto-fill,minmax(150px,1fr));
  justify-content: space-between;
}
.reading-info .dash-container .ng-fa-icon{
 color: hsl(261deg 100% 79%);
 padding-top: 1.6vw;
 padding-right:5px ;
}
.reading-info .dash-container div{
  background-color: aliceblue;
  height: 7vh;
}
.reading-info .dash-container div:not(:last-child){
 margin-right: 5px;
}

.reading-info .dash-container div .dash-container div .number{
  padding: 0;
  margin: 0;

}
.reading-info .dash-container div .dash-container div .type
{
  padding: 0;
  margin: 0;
  color: hsl(211deg 14% 55%);
}

.reading-info .dash-container div .dash-container{
  text-align: center;
 display: flex;

}
@media (max-width : 480px) {


    .reading-info .dash-container div{
    margin-bottom: 20px;
    padding-bottom: 20px;
    }
    .bar{
      position: relative;
    }
}

.persistant-content .wrapper {
  align-items: center;
  background: #000;
  border-radius: 15px;
  display: flex;
  font-family: Raleway,sans-serif;
  height: 130px;
  width: 250px;
  padding-bottom: 10px;
}

.persistant-content{
  display: flex;
  flex-direction: column;

  grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
  gap: 110px;
}

.persistent-header{
  padding-bottom: 10px;
  justify-self: center;
}
.communicate{
  height: 500px;
  align-items:flex-end;
  display: flex;
}
@media (max-width : 480px) {
  .dash-container {
    display: flex;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
   justify-self: left;
   flex-direction: column;

 }
}
.persistent-header img{
  width: 30px;
  height:30px;
  border-radius: 50%;
}
/*
navbar
*/

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.persistent-header span{
  text-decoration: none;
}

.active-link{
  background-color: rgb(59, 51, 39);
}

.content a{

    color: white;
    text-decoration: none;
}
.content a:hover{
  color: white;
}
