*{
  font-family: 'Noto Sans', sans-serif;

}
h3{
  font-size: larger;

}
.bar
,.content
,.persistent-content{
  padding-top: 5px;
  height: calc(100vh - 5px);
}
.dash-container {
   display: flex;
   grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
  justify-self: left;

}

.bar {
  font-size:medium;
    display: flex;
    flex-direction: column;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 110px;
    background: hsl(261deg 100% 79%);
    position: relative;
    left: 0;
    padding-left: 20px;
    width: 120px;
    border-bottom-right-radius: 5px solid;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
.bar .brand{
  font-size: large;
  color: #5a34a3;
  left: 0;
}
.bar .content{
  color: aliceblue;

}
.bar .content div{
  padding-top: 50px;
}

.logout {
  position: absolute;
  bottom: 0;
  right: 30%;
  color: rgba(255, 255, 255, 0.699);
}

.active-link{
  background-color: aliceblue;
  color: #5a34a3;
}


.source-content {
  width: calc(100vw - 50px - 25vw);
  padding-left: 8vw;
    padding-right: 8vw;
    background-color: #dddddd;
}

.persistant-content .wrapper {
  align-items: center;
  background: #000;
  border-radius: 15px;
  display: flex;
  font-family: Raleway,sans-serif;
  height: 130px;
  width: 250px;
  padding-bottom: 10px;
}

.persistant-content{
  display: flex;
  flex-direction: column;

  grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
  gap: 110px;
}

.persistent-header{
  padding-bottom: 10px;
  justify-self: center;
}
.communicate{
  height: 500px;
  align-items:flex-end;
  display: flex;
}
@media (max-width : 480px) {
  .dash-container {
    display: flex;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
   justify-self: left;
   flex-direction: column;

 }
}
.persistent-header img{
  width: 30px;
  height:30px;
  border-radius: 50%;
}
