
<div class="books-container">
  <div class="row">
    <div class="col col-lg-4" *ngFor="let item of myBooks;let i=index">

      <div class="book read">
        <button (click)="pop=true;onDisplayBook(item)">
          OpenBook
          </button>
        <div class="cover">
          <img [src]="url+item.photo">
        </div>
        <div class="description">
          <p class="title">{{item.bookName}}<br>
            <span class="book-description">{{item.description}}</span></p>
        </div>
      </div>
</div>
</div>
</div>
<mat-paginator
(page)="nextPage($event)"
[length]="booksCount"

              [pageSize]="10"
              [pageSizeOptions]="[10]"
              aria-label="Select page">

</mat-paginator>
<ng-container [ngTemplateOutlet]="bookForm">

</ng-container>
<ng-template #bookForm>
  <div class="popup"  *ngIf="pop" @popupParent>
    <div class="exit-icon">
      <fa-icon [icon]="exit" (click)="pop=false"></fa-icon>
    </div>
    <div  @popupChild>
      <pdf-viewer [src]="pathSrc"
              [render-text]="true"
              [original-size]="true"
              [show-all]="true"
              [show-borders]="true"

              style="width: 75vw; height: 75vh"
  ></pdf-viewer>
     </div>
  </div>
  </ng-template>
