<div class="communicate-body">

  <button (click)="answer()">Start</button>

  <div >
    <audio #remoteVideo id="remote-video"  autoplay controls></audio>
  </div>
  <button class="connections" (click)="getConnections()">GetConnections</button>
 <button class="connections" (click)="getAll()">GetAll</button>
 <button (click)="cancel()">Cancel</button>

 <div class="playlists">

   <div *ngFor="let podcasts of connections">
     <div (click)="listen(podcasts)">{{podcasts}}</div>
     <hr>
    </div>

  </div>

</div>



